h1 {
    color: #27aedb;
    text-align: center;
}

h2 {
    color: #27f342;
    text-align: center;
}

.player {
    float: left;
    width: 300px;
    height: 400px;
    border: 1px solid grey;
    margin: 10px;
}

.goNextBtn {
    margin: 10px;
}